body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: proxima;
  src: url("/proxima_ssv/Proxima-Nova-Alt-Light.otf"), url("/proxima_ssv/Proxima-Nova-Alt-Thin.otf"), url("/proxima_ssv/Proxima-Nova-Black.otf"), url("/proxima_ssv/Proxima-Nova-Bold.otf"), url("/proxima_ssv/Proxima-Nova-Extrabold.otf"), url("/proxima_ssv/Proxima-Nova-Thin.otf"), url("/proxima_ssv/ProximaNova-Regular.otf"), url("/proxima_ssv/ProximaNova-AltBold.otf");
}

.bg-light {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #37383C !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-dark2 {
  background-color: #222326 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.border-ligth {
  border: 1px solid #ffffff !important;
}

.botones-dark {
  border: 1px solid #ffffff !important;
}

.botones-dark i {
  color: #ffffff !important;
}

.botones-dark:hover {
  background: #ffffff !important;
}

.botones-dark:hover i {
  color: #37383C !important;
}

.botones-dark:hover:active {
  background: #9cafc3 !important;
}

.botones-dark:hover:active i {
  color: #ffffff !important;
}

.logo-dark {
  background-color: #37383C;
  color: #ffffff !important;
  -webkit-transition: none;
  transition: none;
}

.font-light {
  color: #572ee5 !important;
}

.font-dark {
  color: #ffffff !important;
}

header {
  width: 100%;
  height: 100px;
}

#add-gif {
  display: none;
}

.navdiv {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0;
  min-height: 50px;
  border-top: 5px solid #572ee5;
  overflow: hidden;
  /* hasta aca joya */
  /* hasta aca joya */
}

.navdiv .menucheckbox {
  display: none;
}

.navdiv .burger {
  position: relative;
  float: right;
  width: 60px;
  height: 95px;
  cursor: pointer;
}

.navdiv .burger span,
.navdiv .burger span:after,
.navdiv .burger span:before {
  position: absolute;
  width: 15px;
  height: 2px;
  border-radius: 0.2em;
  background: #572ee5;
  top: 52px;
  right: 27px;
}

.navdiv .burger span:after,
.navdiv .burger span:before {
  content: "";
  right: 0;
}

.navdiv .burger span:before {
  top: -6px;
}

.navdiv .burger span:after {
  top: 6px;
}

.navdiv .menucheckbox:checked + .burger span {
  height: 0;
  width: 0;
}

.navdiv .menucheckbox:checked + .burger span:before,
.navdiv .menucheckbox:checked + .burger span:after {
  top: 6px;
}

.navdiv .menucheckbox:checked + .burger span:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navdiv .menucheckbox:checked + .burger span:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.navdiv ul {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999999;
}

.navdiv ul a {
  color: #ffffff;
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  line-height: 50px;
  padding: 0 15px;
  text-decoration: none;
  overflow: hidden;
  text-align: left;
}

.navdiv ul a:visited {
  color: red !important;
}

.navdiv #menuinput:checked ~ nav ul {
  padding-top: 15px;
  height: calc(100vh - 100px);
  background: rgba(87, 46, 229, 0.9);
}

.navdiv #menuinput:checked ~ nav ul a {
  height: 10.274vh;
  display: block;
  text-align: center;
}

.navdiv #menuinput:checked ~ nav ul a::after {
  position: absolute;
  content: "";
  opacity: 0.5;
  background: #ffffff;
  width: 10.93%;
  height: 0.1px;
  left: 44.54%;
  top: 9.274vh;
}

.navdiv #img-log {
  float: left;
  margin: 29px 0 0 22px;
  width: 48.8px;
}

.navdiv #img-log img {
  width: 48.8px;
}

.navdiv #img-log h2 {
  position: relative;
  top: -34px;
  color: #572ee5;
  font-size: 16px;
  margin-left: 8px;
}

.navdiv .search-bar {
  width: 89.06vw;
  height: auto;
  background: transparent;
  border: 1px solid #572ee5;
  border-radius: 27px;
  border-radius: 27px;
  margin-left: 5.47vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 32%;
  height: 50%;
  margin-top: 25px;
}

.navdiv .search-bar input {
  height: 22px;
  width: 57vw;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding: 11px 0 11px 14.6vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: none;
}

.navdiv .search-bar button {
  color: #572ee5;
  width: 22px;
  height: 45px;
  background: transparent;
}

.navdiv .search-bar button i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.navdiv .search-bar #divCtrPredictivo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.navdiv .search-bar #lupaOculta {
  color: #9cafc3;
  font-size: 20px;
}

.navdiv .search-bar #searchX {
  color: #572ee5;
  font-size: 17px;
}

.navdiv .search-bar #divCtrPredictivo {
  width: 92%;
}

.navdiv .search-bar #divCtrPredictivo:first-child {
  margin-top: 14px;
}

.navdiv .search-bar #divCtrPredictivo span {
  height: 22px;
  margin: 5px 0;
  color: #9cafc3;
  font-size: 16px;
  text-align: left;
}

.navdiv .search-bar #divCtrPredictivo span label {
  padding: 0 14.6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navdiv .search-bar span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.navdiv .search-bar span input {
  width: 100%;
  height: 50px;
  padding: 0;
}

@media screen and (min-width: 800px) {
  header {
    position: fixed;
    z-index: 999999;
  }
  .navdiv .burger {
    display: none;
  }
  .navdiv nav ul {
    width: 50%;
    min-width: 530px;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .navdiv nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 18%;
    height: 90px;
  }
  .navdiv nav ul li a {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0;
  }
  .navdiv nav ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #50e3c2;
  }
  .navdiv #MN {
    width: 139px;
    margin-right: 45px;
  }
  .navdiv #fav {
    width: 84px;
    margin-right: 42px;
  }
  .navdiv #mi-gif {
    width: 84px;
    margin-right: 53px;
  }
  .navdiv #add-gif {
    display: inline-block;
    border: 1px solid #572ee5;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background-color: #ffffff;
    outline: none;
  }
  .navdiv #add-gif:hover {
    background-color: #572ee5;
  }
  .navdiv #add-gif:hover i {
    color: #ffffff;
  }
  .navdiv #add-gif i {
    color: #572ee5;
    font-size: 18px;
  }
  .navdiv #li-Add-Gif {
    width: 70px;
  }
  .navdiv #li-Add-Gif button {
    background: transparent;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main #search-sect {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main #search-sect h1 {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  width: 76.27vw;
  margin: 2px 0 0px 0;
}

main #search-sect h1 #green-text {
  color: #50e3c2;
}

main #search-sect #people-draw {
  width: 72.8vw;
  height: 22.26vh;
  margin: 27px 0 0px 0;
}

main #search-sect .search-bar {
  width: 89.06vw;
  height: auto;
  background: transparent;
  border: 1px solid #572ee5;
  border-radius: 27px;
  border-radius: 27px;
  margin-left: 5.47vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main #search-sect .search-bar input {
  height: 22px;
  width: 57vw;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding: 11px 0 11px 14.6vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: none;
}

main #search-sect .search-bar button {
  color: #572ee5;
  width: 22px;
  height: 45px;
  background: transparent;
}

main #search-sect .search-bar button i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main #search-sect .search-bar #divCtrPredictivo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main #search-sect .search-bar #lupaOculta {
  color: #9cafc3;
  font-size: 20px;
}

main #search-sect .search-bar #searchX {
  color: #572ee5;
  font-size: 17px;
}

main #search-sect .search-bar #divCtrPredictivo {
  width: 92%;
}

main #search-sect .search-bar #divCtrPredictivo:first-child {
  margin-top: 14px;
}

main #search-sect .search-bar #divCtrPredictivo span {
  height: 22px;
  margin: 5px 0;
  color: #9cafc3;
  font-size: 16px;
  text-align: left;
}

main #search-sect .search-bar #divCtrPredictivo span label {
  padding: 0 14.6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main #search-sect #h3-p {
  margin: 43px 0 48px 0;
  width: 62.93vw;
  height: 75px;
}

main #search-sect #h3-p h3,
main #search-sect #h3-p p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

main .sectContGifs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sectContGifs #grey-line {
  width: 20%;
  height: 1px;
  margin: 10px 40%;
  background-color: grey;
}

main .sectContGifs #h2-keyword {
  width: 100%;
  color: #572ee5;
  text-align: center;
  margin: 70.9px 0 112px 0;
}

main .sectContGifs #ouch {
  margin: 0 0 28px 0;
}

main .sectContGifs #IntentaOtra {
  margin: 0 0 150px 0;
  color: #50e3c2;
  text-align: center;
}

main .sectContGifs .div-cont-gifs {
  width: 88.8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (120px)[6];
  -ms-grid-columns: (46.85%)[2];
      grid-template: repeat(6, 120px)/repeat(2, 46.85%);
  -webkit-column-gap: 6.3%;
          column-gap: 6.3%;
  row-gap: 21px;
}

main .sectContGifs .div-cont-gifs .i-div {
  display: none;
}

main .sectContGifs .div-cont-gifs .span-gifs-hover {
  width: 100%;
  height: 100%;
  max-width: 156px;
  max-height: 120px;
  overflow: hidden;
}

main .sectContGifs .div-cont-gifs .span-gifs-hover video {
  width: 100%;
  height: 100%;
  max-width: 156px;
  max-height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
}

main .sectContGifs #verMas {
  margin-bottom: 79px;
  padding: 15px 30px;
  border: 1px solid #572ee5;
  border-radius: 34px;
  background: transparent;
  color: #572ee5;
}

main .sectContGifs #verMas:hover {
  background: #572ee5;
  color: #ffffff;
}

main .sectContGifs #verMas:focus {
  outline: none;
}

main #max-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
}

main #max-section #ctnX {
  width: 86.26%;
  height: 20.85%;
  margin: 0 6.87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #max-section #ctnX i {
  width: 15.2px;
  margin-top: 66.49px;
  color: #572ee5;
}

main #max-section #ctnVideo {
  width: 100%;
  height: 50.13%;
  max-height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #max-section #ctnVideo span {
  width: 84.8%;
  max-width: 318px;
  max-height: 245px;
}

main #max-section #ctnVideo span video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

main #max-section #ctnVideo i {
  display: none;
}

main #max-section #ctnVideo i:hover {
  color: #ffffff;
  background-color: #572ee5;
}

main #max-section #ctnip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 81.26%;
  height: 29.04%;
  margin: 0;
}

main #max-section #ctnip .i-div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

main #max-section #ctnip .i-div i {
  background: transparent;
  border-radius: 6px;
  border: 1px solid #572ee5;
  color: #572ee5;
  width: 36px;
  height: 36px;
  padding: 7.65px;
  margin: 0 0 0 22px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

main #max-section #ctnip .i-div .fa-expand-alt {
  display: none;
}

main #max-section #ctnip .i-p-div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

main #max-section #ctnip .i-p-div label:nth-child(2) {
  font-weight: bold;
}

main #trend-sect {
  width: 100%;
  background-color: #f3f5f8;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #trend-sect h2 {
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  margin: 44px 0 9px 0;
  width: 100%;
  height: 30px;
}

main #trend-sect p {
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  width: 88.8vw;
  height: 46px;
  margin: 0 0 32px 5.6vw;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #trend-sect p #mira-span {
  width: 100%;
  text-align: center;
}

main #trend-sect #ul-carrousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 187px;
  -ms-grid-columns: (64.8%)[3];
      grid-template: 187px/repeat(3, 64.8%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 22px;
  margin: 0 0 82px 0;
}

main #trend-sect .carrousel {
  background-size: contain;
  background-image: url(assets/notAvailable.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  list-style: none;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

main #trend-sect .carrousel video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

main #trend-sect .carrousel .i-div {
  display: none;
}

main #trend-sect .carrousel div {
  width: 100%;
  height: 100%;
}

main #trend-sect .square-i {
  display: none;
}

main #trend-sect .primer-li {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

main #trend-sect .segundo-li {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

main #trend-sect .tercer-li {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

main #trend-sect .oculto1 {
  display: none;
}

main #trend-sect .oculto2 {
  display: none;
}

main #favSect {
  width: 100%;
  text-align: center;
}

main #favSect h2 {
  color: #572ee5;
}

main #favSect #divFavEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 109.3px 0 137px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #favSect #divFavEmpty img {
  margin-bottom: 23.7px;
}

main #favSect #divFavEmpty p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #50e3c2;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  max-width: 431px;
}

main #favSect #verMas {
  margin-bottom: 79px;
  padding: 15px 30px;
  border: 1px solid #572ee5;
  border-radius: 34px;
  background: transparent;
  color: #572ee5;
}

main #favSect #verMas:hover {
  background: #572ee5;
  color: #ffffff;
}

main #favSect #verMas:focus {
  outline: none;
}

main #misGifosSect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #misGifosSect h2 {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  margin: 8px 0 36px 0;
}

main #misGifosSect #divMisGifosEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #misGifosSect #divMisGifosEmpty img {
  margin: 75px 0 0 0;
}

main #misGifosSect #divMisGifosEmpty p {
  font-size: 22px;
  text-align: center;
  line-height: 25px;
  margin: 40px 0 136px 0;
  font-weight: bold;
  color: #50e3c2;
}

main #addGifSect {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75% 25%;
  -ms-grid-columns: 25% 5% 50% 5% 15%;
      grid-template: 75% 25%/25% 5% 50% 5% 15%;
  min-height: 572px;
  margin: 0 0 26px 0;
}

main #addGifSect #divCamara {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #addGifSect #divCamara :first-child {
  max-width: 123px;
  max-height: 162px;
  width: 53%;
}

main #addGifSect #divCanvas {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr/1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #572ee5;
  padding: 20px;
}

main #addGifSect #divCanvas #podras {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #572ee5;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  padding: 0 120px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

main #addGifSect #divCanvas #podras span {
  color: #50e3c2;
}

main #addGifSect #divCanvas p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

main #addGifSect #divCanvas video {
  display: none;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

main #addGifSect #divCanvas #imgGif {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

main #addGifSect #divCanvas #loader {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  margin-left: 48%;
  width: 22px;
  height: 22px;
  z-index: 1000;
  -webkit-animation: giroLoader 5s infinite;
          animation: giroLoader 5s infinite;
}

@-webkit-keyframes giroLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes giroLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main #addGifSect #divCanvas #pLoader {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  z-index: 100;
  margin-top: 72px;
}

main #addGifSect #divCanvas #tickSubido {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  margin-left: 48%;
  width: 22px;
  height: 22px;
  z-index: 1000;
  -webkit-animation: subido cubic-bezier(0, 0, 1, -0.98) 0.5s;
          animation: subido cubic-bezier(0, 0, 1, -0.98) 0.5s;
}

@-webkit-keyframes subido {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes subido {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

main #addGifSect #divCanvas #divVioleta {
  background-color: #572ee5;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

main #addGifSect #divCanvas .sq-deco-verde {
  width: 27px;
  height: 25px;
  position: absolute;
}

main #addGifSect #divCanvas #sq-verde-1 {
  border-top: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
}

main #addGifSect #divCanvas #sq-verde-2 {
  border-top: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  left: 73.7%;
}

main #addGifSect #divCanvas #sq-verde-3 {
  border-bottom: 1px solid #50e3c2;
  border-left: 1px solid #50e3c2;
  top: 42.5%;
}

main #addGifSect #divCanvas #sq-verde-4 {
  border-bottom: 1px solid #50e3c2;
  border-right: 1px solid #50e3c2;
  left: 73.7%;
  top: 42.5%;
}

main #addGifSect #numbersButtonDiv {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #addGifSect #numbersButtonDiv span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #addGifSect #numbersButtonDiv span label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #572ee5;
  text-align: center;
  margin: 24px 13px 19px 13px;
  border: 1px solid #572ee5;
  padding: 3px 0 0 0;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 50%;
}

main #addGifSect #numbersButtonDiv #lineaVioleta {
  background: #572ee5;
  border-radius: 5px;
  height: 6.9px;
}

main #addGifSect #numbersButtonDiv button {
  border: 1px solid #572ee5;
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  padding: 10px 16px;
  background: transparent;
  border-radius: 25px;
  outline: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  margin: 20.1px 0 0 0;
}

main #addGifSect #cintaDiv {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 100%;
  max-width: 142px;
  max-height: 88px;
  padding-left: 11px;
  margin-bottom: 48px;
}

main #addGifSect #divAutoriza :first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 35px;
}

main #addGifSect #divAutoriza :nth-child(2) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 28px;
}

@media screen and (min-width: 800px) {
  main {
    margin: 100px 0 0 0;
  }
  main #search-sect h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 64.86vw;
    margin: 75px 17.59vw 0 17.59vw;
    height: 100px;
  }
  main #search-sect h1 #firstpart-h1 {
    width: 100%;
  }
  main #search-sect .search-bar {
    width: 38.26vw;
    margin: 0 30.87vw 0 30.87vw;
  }
  main #search-sect .search-bar input {
    width: 30vw;
    padding: 11px 0 11px 3.75vw;
  }
  main #search-sect #people-draw {
    min-width: 273px;
    max-width: 399px;
    height: 190px;
    margin: 25px 0 0px 0;
  }
  main .sectContGifs .div-cont-gifs {
    margin: 59px 10.8% 78px 10.8%;
    width: 78.3%;
    -ms-grid-rows: (200px)[3];
    -ms-grid-columns: (23.05%)[4];
        grid-template: repeat(3, 200px)/repeat(4, 23.05%);
    -webkit-column-gap: 2.6%;
            column-gap: 2.6%;
    row-gap: 29px;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover {
    max-width: 260px;
    max-height: 200px;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover video {
    max-height: 200px;
    max-width: 260px;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-div {
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 10000;
    background-color: #572ee5;
    opacity: 0.7;
    width: 100%;
    height: 50%;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-div i {
    background: #ffffff;
    border-radius: 6px;
    color: #572ee5;
    width: 32px;
    height: 32px;
    padding: 7.65px;
    margin: 11px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-p-div {
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: -278px;
    z-index: 10000;
    background-color: #572ee5;
    opacity: 0.7;
    width: 100%;
    height: 50%;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-p-div p {
    display: inline-block;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .user-carrousel {
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 0 10px;
    width: 100%;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .titulo-carrousel {
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 0 10px;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-div,
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-p-div {
    top: -204px;
  }
  main .sectContGifs .div-cont-gifs .span-gifs-hover:hover .i-p-div label {
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 0 10px;
    width: 100%;
  }
  main #max-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #max-section #ctnX {
    width: 48.26%;
    height: 20.85%;
    margin: 0 25.87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main #max-section #ctnX i {
    width: 15.2px;
    margin-top: 60.49px;
    color: #572ee5;
  }
  main #max-section #ctnVideo {
    width: 100%;
    height: 50.13%;
    max-height: 378px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #max-section #ctnVideo span {
    width: 48.26%;
    height: 100%;
    max-width: 596px;
    max-height: 385px;
    overflow: hidden;
  }
  main #max-section #ctnVideo span video {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  main #max-section #ctnVideo i {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #572ee5;
    margin: 0 25px;
    border: 1px solid #572ee5;
    font-size: 24px;
    padding: 8px;
  }
  main #max-section #ctnip {
    width: 41.26%;
    height: 29.04%;
    margin: 0 25.86%;
  }
  main #max-section #ctnip .i-div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  main #max-section #ctnip .i-div i {
    background: transparent;
    border-radius: 6px;
    border: 1px solid #572ee5;
    color: #572ee5;
    width: 36px;
    height: 36px;
    padding: 7.65px;
    margin: 22px 0 0 22px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  main #max-section #ctnip .i-div .fa-expand-alt {
    display: none;
  }
  main #max-section #ctnip .i-p-div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
  }
  main #trend-sect .square-i {
    display: inline-block;
    margin: 0 30px 113px 30px;
    font-size: 40px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #572ee5;
  }
  main #trend-sect #ul-carrousel {
    width: 78.26vw;
    -ms-grid-rows: 100%;
    -ms-grid-columns: (1fr)[3];
        grid-template: 100%/repeat(3, 1fr);
    gap: 27px;
    height: 275px;
  }
  main #trend-sect .carrousel {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  main #trend-sect .carrousel:hover .i-div {
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 10000;
    background-color: #572ee5;
    opacity: 0.7;
    width: 100%;
    height: 50%;
  }
  main #trend-sect .carrousel:hover .i-div i {
    background: #ffffff;
    border-radius: 6px;
    color: #572ee5;
    width: 32px;
    height: 32px;
    padding: 7.65px;
    margin: 11px;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  main #trend-sect .carrousel:hover .i-p-div {
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: -278px;
    z-index: 10000;
    background-color: #572ee5;
    opacity: 0.7;
    width: 100%;
    height: 50%;
  }
  main #trend-sect .carrousel:hover .i-p-div p {
    display: inline-block;
  }
  main #trend-sect .carrousel:hover .user-carrousel {
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 0 10px;
    width: 100%;
  }
  main #trend-sect .carrousel:hover .titulo-carrousel {
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 0 10px;
  }
  main #trend-sect .carrousel:hover .i-div {
    top: -278px;
  }
  @-webkit-keyframes izquierda {
    0% {
      left: 0;
    }
  }
  @keyframes izquierda {
    0% {
      left: 0;
    }
  }
}

footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr 5fr;
  -ms-grid-columns: (33%)[3];
      grid-template: 5fr 1fr 5fr/repeat(3, 33%);
  justify-items: center;
  border-bottom: 5px solid #572ee5;
  font-size: 14px;
}

footer .i-grid100 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  margin: 47px 0 23px 0;
}

footer .i-grid {
  margin: 1px 0 0.8px 0;
  font-size: 18px;
  color: #CDD6E0;
}

footer .i-grid:hover {
  color: #572ee5;
}

footer #fb {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

footer #inst {
  -ms-grid-column-align: self-start;
      justify-self: self-start;
}

@media screen and (min-width: 950px) {
  footer {
    -ms-grid-rows: 100%;
    -ms-grid-columns: 85px (20px)[3] 50.97vw 193px;
        grid-template: 100%/85px repeat(3, 20px) 50.97vw 193px;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #share-in {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
  }
  footer #p-foot {
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 7;
  }
  footer .i-grid {
    font-size: 20px;
  }
  footer #fb, footer #inst {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=styles.css.map */