body{
  display: flex;
  flex-flow: row wrap;
  width: 100%; 
  font-family: 'Montserrat', sans-serif;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;}

  *,
  *:before,
  *:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
  }




@import "intermedios/variables";
@import "intermedios/header";
@import "intermedios/main";
@import "intermedios/main-dekstop";
@import "intermedios/footer";
