$violet: #572ee5;
$aqua-green: #50e3c2;
$i-color: #CDD6E0;
$violet-opacity: rgba(87, 46, 229, 0.9);
@font-face {
  font-family: proxima;
  src: url('/proxima_ssv/Proxima-Nova-Alt-Light.otf'), url('/proxima_ssv/Proxima-Nova-Alt-Thin.otf'), url('/proxima_ssv/Proxima-Nova-Black.otf'),
  url('/proxima_ssv/Proxima-Nova-Bold.otf'), url('/proxima_ssv/Proxima-Nova-Extrabold.otf'),
  url('/proxima_ssv/Proxima-Nova-Thin.otf'),url('/proxima_ssv/ProximaNova-Regular.otf'),url('/proxima_ssv/ProximaNova-AltBold.otf');
}
$font-bold: "proxima";
// $font-regular: "pn-regular";

// THEMES VARIABLES
// LIGHT THEME
$bg1-light: #ffffff;
$bg2-light: #f3f5f8;

// $text-light:
// $hover-light:
// $border-light:
// $logo-light:

// DARK THEME
$bg1-dark:#37383C;
$bg2-dark:#222326;
$text-dark: #FFFFFF; 
// $hover-dark:
$border-dark: 1px solid #FFFFFF;
// $logo-dark:
// @font-face{
//   font-family: "pn-regular";
//   src: url("proxima_ssv/ProximaNova-Regular.otf");
// }  
// @font-face{
//   font-family: "pn-bold";
//   src: url("proxima_ssv/ProximaNovaAltBold.otf");
// }
// .font-light{  
//   color: $bg1-light;
// }
// .font-dark{
//   color: $bg1-light;
// }
.bg-light{
  background-color: $bg1-light;
  
}
.bg-dark{
  background-color: $bg1-dark;
  transition: all 0.3s;  
}
// @media screen and (min-width: 800px) {
.font-light{
  color: $violet;
  
}
.font-dark{
  color: $bg1-light;
}

@mixin hover-IandP {
  .i-div {
    transition: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: relative;
    // top: -278px;
    z-index: 10000;
    background-color: $violet;
    opacity: 0.7;
    width: 100%;
    height: 50%;
    i {
      @include i-logos;
      transition: ease 0.3s;
    }
  }
  .i-p-div{
    transition: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    top: -278px;
    z-index: 10000;
    background-color: $violet;
    opacity: 0.7;
    width: 100%;
    height: 50%;
    p{
      display: inline-block;
    }
  }
  .user-carrousel {
    // font-family: ProximaNova-Regular;
    font-size: 15px;
    color: $bg1-light;          
    margin: 0 0 0 10px;
    width: 100%;
  }
  .titulo-carrousel {
    // font-family: ProximaNova-Bold;
    font-size: 16px;
    color: $bg1-light;
    margin: 0 0 0 10px;          
    
  }  
}
// }
@mixin i-logos {
  background: $bg1-light;
  border-radius: 6px;
  color: $violet;
  width: 32px;
  height: 32px;
  // opacity: 0.7;
  padding: 7.65px;
  margin: 11px;
  
}
@mixin search-button {
  // background: $bg1-light;
  width: 89.06vw;
  height: auto;
  background: transparent;
  border: 1px solid $violet;
  border-radius: 27px;
  border-radius: 27px;
  margin-left: 5.47vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  input {
    height: 22px;
    width: 57vw;
    // font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #000000;
    text-align: left;
    padding: 11px 0 11px 14.6vw;
    box-sizing: content-box;
    outline: none;

  }
  button{
  color: $violet;
  width: 22px;
  height: 45px;
  background: transparent;
 i{
  transform: scale(1.5)
 }}
 #divCtrPredictivo{
   display: flex;
   flex-flow: column wrap;
   #label0,
   #label1{
      border-bottom: 1px solid grey;
   }
 }
}

@mixin h1 {
  
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  #green-text {
    color: $aqua-green;
  }
}
@mixin viol-tacent- {
    // color: $violet;
    text-align: center;
    line-height: 25px;  
    
}
@mixin flex-rw {
  display: flex;
  flex-flow: row wrap;  
  justify-content: center;
}